/* left menu start */
 .left-menu-h { height: calc(100vh); transition: width 0.4s; }
 .left-menu-h.active { width: 320px; }
 .logo { display: none; }
 .left-menu-h:hover .logo { display: block; }
 .left-menu-h:hover .logo_icon { display: none; }
 ul.left-menu { padding-top: 5px; }
 ul.left-menu li { position: relative; }
 ul.left-menu li a{ color: #4C525F; font-size: 14px; padding: 12px 0; display: block; }
 ul.left-menu li.p-l-15 a{ padding-left: 15px; }

 .left-menu-h ul.left-menu>li:hover>a { background-color: #F2F4FC; border-radius: 8px; }
 .left-menu-h ul.left-menu.hoverNone>li:hover>a { background-color: transparent; }
 .left-menu-h ul.left-menu li a span  { min-width: 180px; display: inline-flex; }
 .left-menu-h ul.left-menu li a span, .left-menu-h ul.left-menu li a span i { font-size: 0; padding-left: 60px; }

 .left-menu-h:hover ul.left-menu li a span, .left-menu-h:hover ul.left-menu li a span i { font-size: 14px; }
 .sub-menu { position: fixed; top: 24px; left: 280px; z-index: 99999; display: none; background-color: #F0F4F5; min-width: 234px; height: calc(100vh - 47px); padding: 24px 16px; overflow-y: auto; }
 .left-menu li:hover .sub-menu { display: block; }
 .left-menu-h .sub-menu li a { padding-left: 15px; }
 .left-menu-h ul.left-menu .sub-menu li a:hover{ background-color: white; border-radius: 8px; }

 ul.left-menu li ul.sub-menu li a{ padding:0; }
 ul.left-menu li.active a { color: #019049; }
 ul.left-menu li:not(:first-child) { display: block; } /* margin-top: 12px; */
 .left-menu-h:hover .sub-menu li:not(:first-child) { margin-top: 0px; }
 ul.left-menu li:before { content: ""; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); width: 24px; height: 24px; }
 .divide { border-top: 1px solid #eeeeee; }
 ul.left-menu li.dashboard:before {  background: no-repeat url("assets/images/left-menu-icons/dashboard.svg"); }
 ul.left-menu li.summary:before {  background: no-repeat url("assets/images/left-menu-icons/grid-3.svg"); }
 ul.left-menu li.businessinsights:before {  background: no-repeat url("assets/images/left-menu-icons/briefcase.svg"); }
 ul.left-menu li.priceexplorer:before {  background: no-repeat url("assets/images/left-menu-icons/money-send.svg"); }
 ul.left-menu li.drilldown:before {  background: no-repeat url("assets/images/left-menu-icons/data.svg"); }
 ul.left-menu li.map:before {  background: no-repeat url("assets/images/left-menu-icons/map.svg"); }
 ul.left-menu li.reports:before {  background: no-repeat url("assets/images/left-menu-icons/document.svg"); }
 ul.left-menu li.alerts:before {  background: no-repeat url("assets/images/left-menu-icons/notification.svg"); }
 ul.left-menu li.darkMode:before {  background: no-repeat url("assets/images/left-menu-icons/darkMode.svg"); }
 ul.left-menu li.settings:before {  background: no-repeat url("assets/images/left-menu-icons/settings.svg"); }
 ul.left-menu li.support:before {  background: no-repeat url("assets/images/left-menu-icons/support.svg"); }
 ul.left-menu li a.supportBg { background-color: #2A2D64; color: white; border-radius: 8px; }
 .left-menu-h ul.left-menu.hoverNone>li:hover>a.supportBg { background-color: #2A2D64; }
 .left-menu-h.active .simplebar-track.simplebar-vertical .simplebar-scrollbar:before, .left-menu-h.active .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before { width: 2px; }
 .left-menu-h .simplebar-track.simplebar-vertical .simplebar-scrollbar:before, .left-menu-h .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before { width: 0; }
 .profile img { min-width: 48px; }
 .left-menu-h ul.left-menu.hoverNone li.userProfile span { padding-left: 10px; }
 .left-menu-h .userprofileIcon, .left-menu-h .executepic img { display: none; }
 .left-menu-h:hover .userprofileIcon { display: block; }
 .left-menu-h ul.left-menu.hoverNone li.userProfile .userPic img  { min-width: 48px; height: 48px; border-radius: 100%; }
 .shadow1 { box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.03), 0px 4px 6px -1px rgba(0, 0, 0, 0.02); }
 /* left menu End*/


/* Filter component start */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

.shadow-fillter{
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
}

.custDropdown .p-inputtext { padding: 0; font-size: 14px; color: #24262D;}
.custDropdown .p-dropdown { border: 0; background-color: #f6f7f9  !important; ; border-radius: 0; }
.custDropdown .p-dropdown:not(.p-disabled).p-focus, .custCalendar .p-inputtext:enabled:focus { box-shadow: none; }
.custDropdown .p-dropdown .p-dropdown-label.p-placeholder{
    color: #24262D;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    top: -2px;
}
/* .custDropdown .pi-chevron-down:before { font-family: 'kmp-web'; content: '\e909'; font-size: 12px; } */
.custDropdown2.p-dropdown .p-dropdown-label {
  background: #fff !important;
  border: 0 none;
  padding: 4px !important;
}


.p-dropdown-panel .p-dropdown-items .p-dropdown-item { padding: 6px 10px !important; font-size: 14px !important; }
.custCalendar { min-width: 120px; }
.custCalendar .p-inputtext { border: none; padding: 0; background: transparent; border-radius: 0; font-size: 0.729vw; }
.custCalendar.p-float-label .p-inputwrapper-filled ~ label, .custCalendar.p-float-label .p-inputwrapper-focus ~ label  { font-size: 0; }
.custCalendar.p-float-label > label { left: 0; margin: 0; transform: translateY(-50%); color: #24262D; font-family: 'Work Sans', sans-serif; font-size: 0.729vw;}
/* .custCalendar:after { content: ""; position: absolute; right: 20px; top: 0; background: url("/assets/images/svg/edit-2.png") no-repeat; width: 13px; height: 12px; } */
.p-dropdown-panel {
    z-index: 999999 !important;
    /* top: 136px !important; */
    /* min-width : 141px !important; */
    /* bottom: -30px !important; */
}

.dark .custDropdown .p-dropdown .p-dropdown-label.p-placeholder {
    color: white !important;
    background-color: #24262D  !important;

}
.dark .custDropdown .p-dropdown
{
    background-color: #24262D  !important;
    color: white !important;

}
.p-dropdown-panel .p-dropdown-items
{
    padding: 0.50rem 0;
}
.custDropdown .p-inputtext {

    color:#24262D !important;
    background-color:  #f6f7f9 !important;
}

.dark .custDropdown .p-inputtext {

    background-color:#24262D !important;
  color :  #f6f7f9 !important;
}

.filterFont {
    font-family: 'Work Sans', sans-serif;
}

@media (min-width:1280px){
    .custDropdown .p-inputtext { font-size: 14px;}
}
/* filter component end */

.radio-view .p-radiobutton .p-radiobutton-box, .radio-view .p-radiobutton{
  width: 16px;
  height: 16px;
}
.radio-view .p-radiobutton .p-radiobutton-box{
  border-radius: 8px;
  border: 0.5px solid  #E5E7EB;
  background: #F5F6F7;
}
.radio-view .p-radiobutton .p-radiobutton-box.p-highlight,
.radio-view .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover{
  border-color: #DA291C;
  background: #DA291C;
}
.radio-view .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover{
  border-color: #DA291C;
}
.radio-view .p-radiobutton .p-radiobutton-box .p-radiobutton-icon{
  width: 10px;
  height: 10px;
}

.custslider .slick-slide { padding-right: 16px; }
/* .sliderHide .custslider { display: block; } */
.sliderHide.active .custslider { display: none; }
.sliderHide .divTwo { display: none; }
.sliderHide.active .divOne { display: none; }
.sliderHide.active .divTwo { display: block; }


.FilterDropdown .pi-chevron-down:before {display: none !important;}
.FilterDropdown .p-dropdown{
  background: #F6F7F9;
}
.FilterDropdown .p-dropdown .p-dropdown-label.p-placeholder
{
    color:  #374151;

font-family: "Work Sans";
font-size: 0.729vw;
font-style: normal;
font-weight: 400;
/* line-height: 110%;  */
}
.work-sans-style{
  font-family: "Work Sans";
  font-style: normal;
}
.customFilter .p-dropdown-items {
    background-color: #FFF;
    color: #28303f;
    padding: 5px 5px;
}
.customFilter .p-dropdown-panel .p-dropdown-items .p-dropdown-item
{
    color: #FFF;
}

.FilterDropdown .p-dropdown .p-dropdown-trigger
{
    color:#6C768B;
}
.FilterDropdown .p-inputtext{
    padding: 0rem 0rem;
    font-size: 12px;
  }
  .FilterDropdown .p-dropdown-trigger svg{
    display:none;
  }
  .FilterDropdown .p-dropdown-trigger:before{
    font-family: 'MaiDubai' !important;
    content: "\e916" !important;
    font-size: 10px;
  }
  .FilterDropdown.p-dropdown .p-dropdown-trigger{
    width:40px;
  }

  .cust_search .p-inputtext.p-component {
    border-radius: 999px;
    border: 1px solid #DDE1EA;
    background: #FFF;
}

.flag-green{
  position: relative;
  height: 24px;
  width: 24px;
}
.flag-green::before{ 
  position: absolute;
  height: 24px;
  width: 24px;
  content: "";
  background: url('assets/images/flag-green.svg') no-repeat;
}
.flag-yellow{
  position: relative;
  height: 24px;
  width: 24px;
}
.flag-yellow::before{ 
  position: absolute;
  height: 24px;
  width: 24px;
  content: "";
  background: url('assets/images/flag-yellow.svg') no-repeat;
}
.view-more{
  position: relative;
  height: 24px;
  width: 24px;
}
.view-more::before{ 
  position: absolute;
  height: 24px;
  width: 24px;
  content: "";
  background: url('assets/images/more.svg') no-repeat;
}

.p-overlaypanel{
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}